button{
    padding: 0.5rem;
    font-family: $raleway;
    color: $smokyBlack;
    font-size: $small;
    font-weight: $bold;
    background-color: $white;
    border-radius: 1px $smokyBlack;

    &:hover{
        border-radius: 0.5px $graniteGray;
    }
}